<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Inclass - Lab <br> (Day 4) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

##  Table of Content

1. **[Plots using Library Matplotlib ](#matplotlib)**
2. **[Plots using Library Seaborn ](#seaborn)**

### Let us import the required libraries.

In [1]:
# import the libraries

### Let's begin with some hands-on practice exercises

<a id='matplotlib'></a>
## 1. Plots using Library Matplotlib

### a. Scatter Plots

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Plot a scatter plot for the following data. Also add title and axis names</b>
                </font>
            </div>
        </td>
    </tr>
</table>

            bmi = (18, 34, 54, 45, 45, 45, 23, 23, 54)
            medical_claim = (145, 456, 764, 234, 156, 786, 345, 455, 675)

In [2]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a code to get the following output </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src="cos_curve.png" width = '500' >

In [3]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 3. Plot cosine curve and exponential curve for natural numbers from 0.1 to 20, in the same plot (get the following output)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src="dual_axis.png" width ='500' >

In [5]:
# type your code here

### b. Barplots

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 5. The exports and imports (in billion dollars) is given for a country from 2001 to 2005. Draw a barplot for the data
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
  <tr>
  <th>Year</th>
  <th>Import</th>
  <th>Export</th>
  </tr>
  <tr>
  <td>2001</td>
  <td>54.4</td>
  <td>42.5 </td>
  </tr>
  <tr>
  <td>2002</td>
  <td>53.8</td>
  <td>44.5</td>
  </tr>
  <tr>
  <td>2003</td>
  <td>61.6</td>
  <td>48.3</td>
  </tr>
  <tr>
  <td>2004</td>
  <td>74.15</td>
  <td>57.24</td>
  </tr>
  <tr>
  <td>2005</td>
  <td>89.33</td>
  <td>69.18</td>
  </tr>
</table>

In [6]:
# type your code here

### c. Pie plots

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Plot a pie chart for the following data
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

        prices = [50, 25, 50, 20]
        labels = ['Apple', 'Orange','Banana', 'Mango']

In [7]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Following is the information release after the Indian budget is declared. Plot a pie chart for it
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
  <tr>
  <th>Income Form </th>
  <th>Amount (in paise)</th>
  </tr>
  <tr>
  <td>Corporation Tax</td>
  <td>21</td>
  </tr>
  <tr>
  <td>Income Tax</td>
  <td>16</td>
  </tr>
  <tr>
  <td>Customs</td>
  <td>4</td>
  </tr>
  <tr>
  <td>Union Excise Duties</td>
  <td>8</td>
</tr>
  <tr>
  <td>GST & Other Taxes</td>
  <td>19</td>
</tr>
<tr>
  <td>Non-Tax Revenue</td>
  <td>9</td>
  </tr>
  <tr>
  <td>Non-Debt Capital Receipts</td>
  <td>3</td>
</tr>
  <tr>
  <td>Borrowings and Other Liabilities</td>
  <td>20</td>
  </tr>
</table>

In [8]:
# type your code here

### d. Line plots

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 8. Create a tuple of numbers 12, 34, 54, 45, 45, 45, 23, 23, 54 and plot a simple line plot
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 9. Import the 'Returns.csv'. Plot a multiple line plot for the returns of each company
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here

<a id='seaborn'></a>
## 2. Plots using Library Seaborn

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Plot a  strip plot using inbuilt data-set 'iris' given in seaborn
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 11. Import the dataset age_height.csv. Plot a heat map for the correlation matrix
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 13a. Using the following data, plot a scatter plot with  the function available in seaborn
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            x = (12, 34, 54, 45, 45, 45, 23, 23, 54)
            y = (145, 456, 764, 234, 156, 786, 345, 455, 675)

In [14]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 13b. Using the data generated in question 3, plot a scatter plot with the function available in seaborn
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 14. Using the 'diamonds' data available in the library seaborn, consider the price for the type of cut. Display the data using the following plots:
                        <ol>
                            <li> Multiple boxplot</li>
                            <li> Violin Plot </li>
                            <li> Boxen Plot </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 15. Generate random number form normal distribution, plot the following:
                        <ol>
                            <li> Histogram</li>
                            <li> Histogram with frequency curve </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
# type your code here